body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.body-fa {
  font-family: 'Vazir', sans-serif;
  font-weight: 300;
  line-height: 24px;
}
.rtl-dir {
    direction: rtl;
}
#header {
  margin-top: 25px;
  margin-bottom: 20px;
}
#header > div > a {
  border: 1px solid #428bca;
  text-decoration: none;
  border: none;
}
#long-footer {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 6px 6px 0 0;
}
#long-header {
  max-width: 1170px;
  width: 100%;
  height: 315px;
  font-weight: 300;
  color: white;
  margin: 0 auto;
  margin-bottom: 70px;
}
@media only screen and (max-width: 825px) {
  #header-text {
    zoom: 90%;
    margin-left: 270px !important;
  }
  #header-inner {
    padding-left: 40px !important;
  }
  .header-img {
    width: 220px !important;
  }
}
@media only screen and (max-width: 660px) {
  #header-text {
    zoom: 90%;
    margin-left: 230px !important;
  }
  #header-icon-container {
    zoom: 90%;
  }
  #header-inner {
    padding-left: 20px !important;
  }
  #header-text-name {
    font-size: 25px !important;
  }
  .header-img {
    width: 195px !important;
    border: 8px solid white;
  }
}
.header-bg {
  background-image: url(./imgs/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  border-radius: 0 0 6px 6px;
}
.header-img {
  border-radius: 50%;
  border: 11px solid white;
  float: left;
  width: 250px;
}
#header-text {
  margin-top: 30px;
  margin-left: 280px;
}
#header-text-name {
  font-weight: 400;
  font-size: 40px;
}
#header-text-email {
  line-height: 1.0;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}
#header-text-title {
  font-size: 18px;
  font-weight: 300;
  margin-top: -6px;
}
#header-inner {
  padding-top: 120px;
  padding-left: 50px;
}
#header-icon-container {
  margin-top: 10px;
  position: absolute;
}
#lang-button {
  width: auto;
  float: right;
  padding: 5px 10px 5px 10px;
  margin: 20px;
  border: 2px solid #fff;
  border-radius: 4px;
}
#lang-button:hover {
  border-color: #ffc000;
  cursor: pointer;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
#lang-button:hover a {
  color: #ffc000;
  text-decoration: none;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
#lang-button a {
  color: #fff;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
#lang-button ul {
  font-size: 20px;
  font-weight: 400;
}
.lang {
  border-radius: 4px;
  position: absolute;
  top: -15px;
  padding: 6px;
  background-color: #be242a;
}
.lang a {
 color: #fff;
 text-decoration: none;
}
#lang-fa {
  right: 12px;
}
#lang-en {
  left: 12px;
}
.selectable:hover {
  opacity: 0.80;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
#teaser {
  height: 410px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: #8C1515;
  position: relative;
  overflow: hidden;
  color: white;
  font-size: 16px;
  text-align: center;
}
tb {
  font-weight: 500;
}
ts {
  font-size: 16px;
}
ti {
  font-style: italic
}
tis {
  font-style: italic;
  font-size: 16px;
}
h1 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
h2 {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  background-color: #ffc000;
  padding: 15px 0px 15px 15px;
  margin: 10px 0 30px -15px;
  width: 325px;
  border-radius: 4px;
}
.lhead {
  font-weight: normal;
  margin-top: 5px;
}
.litem {
  margin-top: 5px;
}
#footer {
  height: 250px;
  padding-top: 50px;
  text-align: center;
  position: relative;
}
.instructorphoto img {
  width: 90px;
  border-radius: 90px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.instructor {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  position: relative;
}
.sec {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  position: relative;
}
.sec-center {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}
.sup {
    top: -.5em;
}
.tt {
  color: #060;
  display: inline-block;
}
#inputlayer {
  width: 65px;
}
.layer {
  width: 35px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 5px;
}
.actmap {
  display: block;
  border: 2px solid #FFF;
}
#convnetvis {
  text-align: center;
}
#probsdiv {
  
}
.pp {
  color: white;
  text-align: left;
  padding: 5px;
  height: 32px;
  margin: 2px;
  background-color: rgb(85,187,85);
  overflow: visible !important;
}

#convask {
  position: absolute;
  top: 360px;
  right: 16px;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

#explain {
  display: none;
  background-color: #FF9;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.qq {
  color: #060;
}
.qa {
  font-style: italic;
}
.qqa {
  margin-bottom: 20px;
}
.spanh {
  font-weight: normal;
}
.sechighlight {
  background-color: #f7f7f7;
  border-radius: 6px;
  padding: 15px 25px 30px 40px;
}
#justify {
  text-align: justify;
}
#footermsg {
  color: #333;
  margin: 20px;
}
#classicons {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.wimg {
  max-width: 100%;
}
.demoimg {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.rnndemo {
  font-size: 18px;
  text-align: center;
}
.demoimg2 {
  max-width: 100%;
  margin: 0 auto;
}
.demodiv2 {
  background-color: white;
  height: 380px;
  padding: 5px;
  border-radius: 4px;
}
.instructorphoto img {
  width: 110px;
  border-radius: 110px;
  margin-bottom: 10px;
}
.instructor {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}
.instructoraffiliations {
  padding-top: 40px;
}
.thumbnailpaper{
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ededed;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.thumbnailpaper:hover{
  border: 1px solid #428bca;
}
.rlink{
  color: black;
}
.rlink:hover{
  color: #4b4b4b;
}
.rlink:focus {     
  color: black;
}
#gallery {
}
.egimg {
  display: inline-block;
  vertical-align: top;
  margin: auto;
}
.hh {
  color: #090;
}
.edu-title {
  border-top: 1px solid #dfdfdf;
  padding-top: 1.5em;
}
.edu-logo {
  margin: 5px 15px 0 0;
  float: right;
  padding-left: 15px;
}
.edu-info {
  margin-left: 15px;
}
.edu-logos {
  margin-top: 30px;
}
.edu-date {
  float: right;
}
.logo-image {
  max-height: 70px;
  max-width: 100%;
  vertical-align: middle;
  margin-bottom: 10px;
}
.pub {
  padding-bottom: 20px;
}
.pub-img {
  margin: 5px 0 0 15px;
  float: left;
  padding-right: 15px;
  max-width: 100%
}
.gallery-img-row {
    width: 100%; margin: auto;
}
.gallery-img-col {
    padding: 0;
}
.gallery-img {
    width: 100%
}
.icon {
  line-height: 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  padding: 2px 0;
  font-size: 13px;
}
.icon:hover{
  color: #fff;
  width: 28px;
  height: 28px;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
}
.icon:focus {     
  color: #fff;
  text-decoration: none;
}
.icon-big {
  line-height: 45px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  padding: 2px 13px;
  font-size: 25px;
}
.icon-big:hover{
  color: #fff;
  /*width: 53px;
  height: 53px;
  font-size: 28px;
  line-height: 50px;*/
  text-decoration: none;
  background-color: #fff;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.icon-big:focus {     
  color: #fff;
  text-decoration: none;
}
.icon-linkedin {
  background-color: #0077b5;
}
.icon-linkedin:hover {
  color: #0077b5;
}
.icon-linkedin:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f0e1";
}
.icon-github {
  background-color: #24292e;
}
.icon-github:hover {
  color: #24292e;
}
.icon-github:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f09b";
}
.icon-twitter {
  background-color: #4fb8ef;
}
.icon-twitter:hover {
  color: #4fb8ef;
}
.icon-twitter:before{
  font-family: "Font Awesome 5 Brands";
  content:"\f099"
}
.icon-rg {
  background-color: #07af3a;
}
.icon-rg:hover {
    color: #07af3a;
}
.icon-rg:before {
  font-family: "Font Awesome 5 Brands";
  content:"\f4f8"
}
@font-face {
    font-family: Vazir;
    src: url('./fonts/Vazir.eot');
    src: url('./fonts/Vazir.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Vazir.woff2') format('woff2'),
         url('./fonts/Vazir.woff') format('woff'),
         url('./fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./fonts/Vazir-Bold.eot');
    src: url('./fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Vazir-Bold.woff2') format('woff2'),
         url('./fonts/Vazir-Bold.woff') format('woff'),
         url('./fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./fonts/Vazir-Black.eot');
    src: url('./fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Vazir-Black.woff2') format('woff2'),
         url('./fonts/Vazir-Black.woff') format('woff'),
         url('./fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./fonts/Vazir-Medium.eot');
    src: url('./fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Vazir-Medium.woff2') format('woff2'),
         url('./fonts/Vazir-Medium.woff') format('woff'),
         url('./fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./fonts/Vazir-Light.eot');
    src: url('./fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Vazir-Light.woff2') format('woff2'),
         url('./fonts/Vazir-Light.woff') format('woff'),
         url('./fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('./fonts/Vazir-Thin.eot');
    src: url('./fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Vazir-Thin.woff2') format('woff2'),
         url('./fonts/Vazir-Thin.woff') format('woff'),
         url('./fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}